{"swagger":"2.0","info":{"title":"Gestor Logístico Tecnovia","version":"10.5"},"host":"gl-api-v105.tecnovia.com.br","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/coletas-entregas/comprovantes":{"get":{"tags":["coletas-entregas"],"operationId":"ListaComprovantescomprovantes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoEntrega","in":"query","type":"string"},{"name":"PeriodoEmissao","in":"query","type":"string"},{"name":"NrConhecimento","in":"query","type":"integer","format":"int32"},{"name":"NrNotaFiscal","in":"query","type":"integer","format":"int32"},{"name":"pessoaRemetente","in":"query","type":"string"},{"name":"pessoaDestinatario","in":"query","type":"string"},{"name":"Transportadora","in":"query","type":"string"},{"name":"NrReferenciaCliente","in":"query","type":"string"},{"name":"EstadoOrigem","in":"query","type":"string"},{"name":"UnidadeOrigem","in":"query","type":"string"},{"name":"EstadoDestino","in":"query","type":"string"},{"name":"UnidadeDestino","in":"query","type":"string"},{"name":"Situacao","in":"query","type":"boolean","x-nullable":false},{"name":"TranspUsuarioLogadoId","in":"query","type":"integer","format":"int32"},{"name":"ClienteUsuarioLogadoId","in":"query","type":"integer","format":"int32"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ComprovanteDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["coletas-entregas"],"summary":"Importação dos comprovantes através do upload do arquivo imagem para pasta pré definida","description":"Importação dos comprovantes através do upload do arquivo imagem para pasta pré definida","operationId":"ImportaComprovantescomprovantes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaComprovantes"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/coletas-entregas/comprovante":{"post":{"tags":["coletas-entregas"],"summary":"Importação do comprovante através do upload do arquivo imagem","description":"Importação do comprovante através do upload do arquivo imagem","operationId":"ImportaComprovantecomprovante_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaComprovante"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaComprovanteResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/coletas-entregas/comprovantes/{ComprovanteEntregaId}":{"get":{"tags":["coletas-entregas"],"operationId":"GetComprovantecomprovantesComprovanteEntregaId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ComprovanteEntregaId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ComprovanteDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["coletas-entregas"],"operationId":"ExcluirComprovantecomprovantesComprovanteEntregaId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ComprovanteEntregaId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExcluirComprovante"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/coletas-entregas/comprovantes/{DtId}/do-dt":{"get":{"tags":["coletas-entregas"],"operationId":"GetComprovantesByDtIdcomprovantesDtIddo-dt_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ComprovanteDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cartas-fretes":{"get":{"tags":["cartas-fretes"],"summary":"Lista das cartas-fretes emitidas","description":"Lista das cartas-fretes emitidas","operationId":"GetCartasFretes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoInicio","in":"query","type":"string","format":"date-time"},{"name":"PeriodoTermino","in":"query","type":"string","format":"date-time"},{"name":"PeriodoPreDefinido","in":"query","type":"string"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_CartaFreteDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cartas-fretes/{CartaFreteId}":{"get":{"tags":["cartas-fretes"],"summary":"Dados da carta-frete informada","description":"Dados da carta-frete informada","operationId":"GetCartaFreteCartaFreteId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CartaFreteId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"NivelDetalhe","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CartaFreteDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/percursosViagem/lista":{"get":{"tags":["percursosViagem"],"operationId":"ListaPercursoViagemlista_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Nome","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_PercursoViagemDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/percursosViagem/{PercursoViagemId}":{"get":{"tags":["percursosViagem"],"operationId":"GetPercursoViagemPercursoViagemId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PercursoViagemId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PercursoViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/percursosViagem/{PercursoViagemIdUrl}":{"put":{"tags":["percursosViagem"],"operationId":"AlteraPercursoViagemPercursoViagemIdUrl_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PercursoViagemIdUrl","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraPercursoViagem"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PercursoViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/percursosViagem/{GrupoUsuarioId}":{"delete":{"tags":["percursosViagem"],"operationId":"ExcluiPercursoViagemGrupoUsuarioId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PercursoViagemId","in":"query","type":"integer","format":"int32","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/percursosViagem":{"post":{"tags":["percursosViagem"],"operationId":"IncluiPercursoViagem_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiPercursoViagem"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PercursoViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/transit-times":{"get":{"tags":["transit-times"],"summary":"Lista das previsões de transit time","description":"Lista das previsões de transit time","operationId":"FindPrevisaoTransitTime_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ColetaOuEntrega","in":"query","type":"string"},{"name":"LocalOrigem","in":"query","type":"string"},{"name":"LocalDestino","in":"query","type":"string"},{"name":"Modal","in":"query","type":"string"},{"name":"Operacao","in":"query","type":"string"},{"name":"Transportadora","in":"query","type":"string"},{"name":"Tomador","in":"query","type":"string"},{"name":"UnidadeId","in":"query","type":"integer","format":"int64"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_PrevisaoTransitTimeDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["transit-times"],"summary":"Inclusão de uma nova previsão de transit time","description":"Inclusão de uma nova previsão de transit time","operationId":"IncluiPrevisaoTransitTime_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiPrevisaoTransitTime"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PrevisaoTransitTimeDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/transit-times/{PrevisaoTransitTimeId}":{"put":{"tags":["transit-times"],"summary":"Alteração de uma previsão de transit time","description":"Alteração de uma previsão de transit time","operationId":"AlteraPrevisaoTransitTimePrevisaoTransitTimeId_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PrevisaoTransitTimeId","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraPrevisaoTransitTime"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PrevisaoTransitTimeDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["transit-times"],"summary":"Exclui a previsão de transit time","description":"Exclui a previsão de transit time","operationId":"ExcluiPrevisaoTransitTimePrevisaoTransitTimeId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PrevisaoTransitTimeId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/viagens":{"get":{"tags":["viagens"],"summary":"Lista de viagens","description":"Lista de viagens","operationId":"GetViagens_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CompraOuVenda","in":"query","type":"string","x-nullable":false},{"name":"Periodo","in":"query","type":"string"},{"name":"NumeroCarga","in":"query","type":"integer","format":"int32"},{"name":"NumeroNotaFiscal","in":"query","type":"integer","format":"int32"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"TransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"ClienteId","in":"query","type":"integer","format":"int64"},{"name":"EmpresaId","in":"query","type":"integer","format":"int64"},{"name":"UnidadeId","in":"query","type":"integer","format":"int64"},{"name":"UsuarioImportouNFId","in":"query","type":"integer","format":"int64"},{"name":"ModalId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"SituacoesLiberacao","in":"query","type":"string"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheTrechos","in":"query","type":"string"},{"name":"NivelDetalheCartaFrete","in":"query","type":"string"},{"name":"NivelDetalheDts","in":"query","type":"string"},{"name":"IncluirEntregasLegado","in":"query","type":"boolean"},{"name":"dtsGerados","in":"query","type":"boolean"},{"name":"PeriodoEmissaoCartaFrete","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ViagemDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/exportarXml":{"post":{"tags":["mdfes"],"operationId":"ExportarXmlMdfeexportarXml_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExportarXmlMdfe"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExportarXmlMdfeResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/lista-mdfes":{"post":{"tags":["mdfes"],"operationId":"FindMDFEslista-mdfes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/FindMDFEs"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_MdfeDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/{MdfeId}":{"get":{"tags":["mdfes"],"operationId":"GetMDFEMdfeId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"MdfeId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MdfeDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/sefaz":{"post":{"tags":["mdfes"],"operationId":"AtualizaDadosSefazsefaz_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/AtualizaDadosSefaz"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/cancela":{"post":{"tags":["mdfes"],"operationId":"CancelaMdfecancela_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CancelaMdfe"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CancelaMdfeResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/encerra":{"post":{"tags":["mdfes"],"operationId":"EncerraMdfeencerra_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/EncerraMdfe"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EncerraMdfeResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/consulta-situacao":{"post":{"tags":["mdfes"],"operationId":"ConsultaSituacaoMdfeconsulta-situacao_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ConsultaSituacaoMdfe"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ConsultaSituacaoMdfeResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/{MdfeId}/damdfe":{"get":{"tags":["mdfes"],"operationId":"GetDAMDFEMdfeIddamdfe_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"MdfeId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetDAMDFEResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/eventos/lista":{"get":{"tags":["mdfes"],"operationId":"ListaEventosMdfeeventoslista_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArgumentoPesquisa","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_EventoMdfeDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/mdfes/situacaoServidores/lista":{"get":{"tags":["mdfes"],"operationId":"GetSituacaoServidoresSefazMdfesituacaoServidoreslista_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Ambiente","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_SituacaoServidoresSefazMdfeResponse_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/enums":{"get":{"tags":["enums"],"summary":"Lista os valores possíveis para o enum informado","description":"Lista os valores possíveis para o enum informado","operationId":"GetEnumValues_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"FullName","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_EnumDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/notifica-erros/tarefas":{"post":{"tags":["notifica-erros"],"summary":"Gera notificação de erros durante a execução das tarefas","description":"Gera notificação de erros durante a execução das tarefas","operationId":"GeraNotificacoesErrosTarefastarefas_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeraNotificacoesErrosTarefas"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/notifica-erros/envio-notificacoes":{"post":{"tags":["notifica-erros"],"summary":"Gera notificação de erros durante o envio das notificações","description":"Gera notificação de erros durante o envio das notificações","operationId":"GeraNotificacoesErrosEnvioNotificacoesenvio-notificacoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeraNotificacoesErrosEnvioNotificacoes"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/dbschema/upgrade":{"post":{"tags":["dbschema"],"operationId":"AtualizacaoSchemaDbupgrade_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/AtualizacaoSchemaDb"}}],"responses":{"200":{"description":"Success","schema":{"title":"List<String>","type":"array","items":{"type":"string"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/opsgenie/ping/{HeartBeatId}":{"post":{"tags":["opsgenie"],"operationId":"PingOpsgeniepingHeartBeatId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"HeartBeatId","in":"path","type":"string","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/PingOpsgenie"}}],"responses":{"200":{"description":"Success","schema":{"title":"String","type":"string"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tarefas/processamentos/agendados/todas-instancias":{"post":{"tags":["tarefas"],"operationId":"ExecutaTarefasAgendadasTodasInstanciasprocessamentosagendadostodas-instancias_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExecutaTarefasAgendadasTodasInstancias"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExecutaTarefasAgendadasResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tarefas/processamentos/agendados/{InstanciaId}":{"post":{"tags":["tarefas"],"operationId":"ExecutaTarefasAgendadasprocessamentosagendadosInstanciaId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"InstanciaId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExecutaTarefasAgendadas"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExecutaTarefasAgendadasResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/traducoes":{"get":{"tags":["traducoes"],"summary":"Retorna traduções do sistema para a língua informada","description":"Se CultureName não for informado, retorna as traduções para a língua da sessão corrente.","operationId":"GetTraducoes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Lang","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JsonObject"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/traducoes/current-culture":{"get":{"tags":["traducoes"],"summary":"Retorna a língua atualmente em uso","description":"Retorna a língua atualmente em uso","operationId":"GetCurrentCulturecurrent-culture_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetCurrentCultureResp"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/sistema/versao":{"get":{"tags":["sistema"],"operationId":"GetVersaoSistemaversao_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"title":"String","type":"string"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros":{"post":{"tags":["parametros"],"summary":"Inclui parâmetro do sistema","description":"Faz a inclusão do parâmetro de sistema","operationId":"IncluiParametro_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiParametro"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IncluiParametroResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros/reset":{"post":{"tags":["parametros"],"summary":"Reset parâmetro do sistema","description":"Faz o reset do parâmetro de sistema com valores padrões","operationId":"Resetreset_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/Reset"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResetParametroResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros/grupos":{"get":{"tags":["parametros"],"summary":"Busca todos grupos de parâmetro","description":"Busca todos grupos de parâmetro","operationId":"GetAllgrupos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ParametroGrupoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros/a-partir-do-grupo":{"get":{"tags":["parametros"],"summary":"Busca parâmetros a partir do grupo","description":"Busca parâmetros a partir do grupo informado","operationId":"GetParametrosByGrupoa-partir-do-grupo_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ParametroGrupoId","in":"query","type":"integer","format":"int32","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ParametroDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros/a-partir-do-parametro":{"get":{"tags":["parametros"],"summary":"Busca parâmetro a partir do parâmetro","description":"Busca parâmetro a partir do parâmetro informado","operationId":"GetParametroa-partir-do-parametro_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ParametroId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"ParametroGrupoId","in":"query","type":"integer","format":"int32","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ParametroDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/parametros/valores-possiveis":{"get":{"tags":["parametros"],"summary":"Busca valores possíveis para o grupo e parâmetro informado","description":"Busca valores possíveis para o grupo e parâmetro informado","operationId":"GetValoresPossiveisvalores-possiveis_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ParametroId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"ParametroGrupoId","in":"query","type":"integer","format":"int32","x-nullable":false}],"responses":{"200":{"description":"IDictionary<Object,String>","schema":{"title":"IDictionary<Object,String>","additionalProperties":{"type":"string"},"description":"IDictionary<Object,String>","type":"object"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tarefas/processamentos":{"post":{"tags":["tarefas"],"operationId":"ExecutaTarefaprocessamentos_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExecutaTarefa"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tarefas/{TarefaId}/processamentos":{"post":{"tags":["tarefas"],"operationId":"ExecutaTarefaPeloIdTarefaIdprocessamentos_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TarefaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExecutaTarefaPeloId"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tarefas/nao-finalizadas/alertas":{"post":{"tags":["tarefas"],"operationId":"AlertaTarefasNaoFinalizadasnao-finalizadasalertas_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlertaTarefasNaoFinalizadas"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/processos":{"get":{"tags":["processos"],"summary":"Lista dos processos","description":"Lista dos processos","operationId":"GetProcessos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"TipoId","in":"query","type":"integer","format":"int64"},{"name":"PeriodoCadastramento","in":"query","type":"string"},{"name":"ModalId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"ClienteId","in":"query","type":"integer","format":"int64"},{"name":"TransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"ContemTexto","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ProcessoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/processos-tarefas":{"get":{"tags":["processos-tarefas"],"summary":"Lista das tarefas dos processos","description":"Lista das tarefas dos processos","operationId":"GetTarefas_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"IncluirConcluidas","in":"query","type":"boolean"},{"name":"IncluirCanceladas","in":"query","type":"boolean"},{"name":"ApenasTarefasQueUsuarioEhResponsavel","in":"query","type":"boolean"},{"name":"Situacoes","in":"query","type":"string"},{"name":"PeriodoCadastramento","in":"query","type":"string"},{"name":"ContemTexto","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ProcessoTarefaDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/processos-tarefas/{ProcessoTarefaId}":{"get":{"tags":["processos-tarefas"],"summary":"Retorna todos os dados da tarefa informada","description":"Retorna todos os dados da tarefa informada","operationId":"GetTarefaProcessoTarefaId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ProcessoTarefaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProcessoTarefaDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/processos-tarefas/{ProcessoTarefaId}/conclusao":{"post":{"tags":["processos-tarefas"],"summary":"Conclui a tarefa informada","description":"Conclui a tarefa informada","operationId":"ConcluiTarefaProcessoTarefaIdconclusao_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ProcessoTarefaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ConcluiTarefa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProcessoTarefaDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/processos-tarefas/{ProcessoTarefaId}/cancelamento":{"post":{"tags":["processos-tarefas"],"summary":"Cancela a tarefa informada","description":"Cancela a tarefa informada","operationId":"CancelaTarefaProcessoTarefaIdcancelamento_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ProcessoTarefaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CancelaTarefa"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/notasFiscais/dimensoes":{"post":{"tags":["notasFiscais"],"summary":"Inclui as dimensões para nota fiscal","description":"Inclui as dimensões para nota fiscal","operationId":"IncluiDimensoesdimensoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiDimensoes"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_DaotItemDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/timeline":{"get":{"tags":["ots"],"summary":"Visualiza a página com o timeline da OT","description":"Visualiza a página com o timeline da OT","operationId":"GetTimelineOttimeline_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtIdCripto","in":"query","type":"string"},{"name":"ChaveNfe","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TimelineOtDto"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/tracking":{"get":{"tags":["ots"],"summary":"Lista das OTs em função da situação dos prazos de coleta/entrega","description":"Lista das OTs em função da situação dos prazos de coleta/entrega","operationId":"ListaOtsPorSituacaoPrazotracking_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"TransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"ModalId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"ClienteId","in":"query","type":"integer","format":"int64"},{"name":"PessoaId","in":"query","type":"integer","format":"int64"},{"name":"PessoaGrupoId","in":"query","type":"integer","format":"int64"},{"name":"PeriodoCadastramentoNf","in":"query","type":"string"},{"name":"PeriodoEmissaoNf","in":"query","type":"string"},{"name":"PeriodoCarga","in":"query","type":"string"},{"name":"PeriodoPrevisaoOuAgendamento","in":"query","type":"string"},{"name":"PeriodoPrevisao","in":"query","type":"string"},{"name":"PeriodoAgendamento","in":"query","type":"string"},{"name":"PeriodoRealizacao","in":"query","type":"string"},{"name":"ColetasOuEntregas","in":"query","type":"string"},{"name":"ComAgendamento","in":"query","type":"boolean"},{"name":"RealizadasOuEmAndamento","in":"query","type":"string"},{"name":"SituacoesPrazo","in":"query","type":"string"},{"name":"NrOt","in":"query","type":"integer","format":"int64"},{"name":"NrNotaFiscal","in":"query","type":"integer","format":"int64"},{"name":"NrDt","in":"query","type":"integer","format":"int64"},{"name":"SiglaUfOrigem","in":"query","type":"string"},{"name":"SiglaUfDestino","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_CargaOtDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/eventos":{"get":{"tags":["ots"],"summary":"Obtém a lista de todos os eventos de todas as OTs","description":"Obtém a lista de todos os eventos de todas as OTs","operationId":"FindEventoeventos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoRegistro","in":"query","type":"string"},{"name":"PeriodoOcorrencia","in":"query","type":"string"},{"name":"Transportadora","in":"query","type":"string"},{"name":"TipoEvento","in":"query","type":"string"},{"name":"TiposOcorrencia","in":"query","type":"string"},{"name":"NrNotaFiscal","in":"query","type":"integer","format":"int32"},{"name":"CpfCnpjCliente","in":"query","type":"integer","format":"int64"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheObjetos","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_EventoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}":{"get":{"tags":["ots"],"summary":"Consulta os detalhes de uma Ordem de Transporte","description":"Consulta os detalhes de uma Ordem de Transporte","operationId":"GetOtOtId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/OtDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["ots"],"summary":"Cancela uma Ordem de Transporte","description":"Cancela uma Ordem de Transporte","operationId":"CancelaOtOtId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{Id}":{"put":{"tags":["ots"],"summary":"Altera os dados de uma Ordem de Transporte","description":"Altera os dados de uma Ordem de Transporte","operationId":"AlteraOtId_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraOt"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/libera-geracao-dts":{"post":{"tags":["ots"],"summary":"Libera as Ots para geração dos conhecimentos","description":"Libera as Ots para geração dos conhecimentos","operationId":"LiberarGeracaoDtslibera-geracao-dts_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/LiberarGeracaoDts"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseLiberarGeracaoDts"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/receitas-despesas":{"get":{"tags":["ots"],"summary":"Retorna os detalhes das receitas e despesas de cada OT","description":"Retorna os detalhes das receitas e despesas de cada OT","operationId":"GetReceitasDespesasOtsreceitas-despesas_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoCadastramentoOts","in":"query","type":"string"},{"name":"PeriodoEmissaoOts","in":"query","type":"string"},{"name":"PeriodoEmissaoDts","in":"query","type":"string"},{"name":"Cliente","in":"query","type":"string"},{"name":"FiltroSituacaoDtsDespesa","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_OtDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/unifica-nfs-transp-em-ots-distintas":{"post":{"tags":["ots"],"operationId":"UnificaNfsTranspEmOtsDistintasunifica-nfs-transp-em-ots-distintas_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/UnificaNfsTranspEmOtsDistintas"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/nfe/{ChaveNfe}":{"get":{"tags":["ots"],"summary":"Visualiza a página com o timeline da OT, informando a chave da NF-e","description":"Visualiza a página com o timeline da OT, informando a chave da NF-e","operationId":"GetTimelineOtnfeChaveNfe_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtIdCripto","in":"query","type":"string"},{"name":"ChaveNfe","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TimelineOtDto"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/tracking/resumo-por-transportadora":{"get":{"tags":["ots"],"summary":"Resumo dos prazos de coletas/entregas por transportadora","description":"Resumo dos prazos de coletas/entregas por transportadora","operationId":"ResumoPrazosPorTransportadoratrackingresumo-por-transportadora_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoEmissaoNf","in":"query","type":"string"},{"name":"PeriodoCarga","in":"query","type":"string"},{"name":"PeriodoPrevisaoOuAgendamento","in":"query","type":"string"},{"name":"PeriodoPrevisao","in":"query","type":"string"},{"name":"PeriodoAgendamento","in":"query","type":"string"},{"name":"PeriodoRealizacao","in":"query","type":"string"},{"name":"ColetasOuEntregas","in":"query","type":"string"},{"name":"ComAgendamento","in":"query","type":"boolean"},{"name":"RealizadasOuEmAndamento","in":"query","type":"string"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"Transportadora","in":"query","type":"string"},{"name":"Cliente","in":"query","type":"string"},{"name":"PessoaId","in":"query","type":"integer","format":"int64"},{"name":"PessoaGrupoId","in":"query","type":"integer","format":"int64"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ResumoPrazosPorTransportadoraResp_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/tracking/evolucao-performance":{"get":{"tags":["ots"],"summary":"Evolução da performance de coletas/entregas","description":"Evolução da performance de coletas/entregas","operationId":"EvolucaoPerformancetrackingevolucao-performance_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoEmissaoNf","in":"query","type":"string"},{"name":"PeriodoPrevisaoOuAgendamento","in":"query","type":"string"},{"name":"PeriodoEmissaoDtTransp","in":"query","type":"string"},{"name":"Periodicidade","in":"query","type":"string","x-nullable":false},{"name":"ColetasOuEntregas","in":"query","type":"string"},{"name":"ComAgendamento","in":"query","type":"boolean"},{"name":"RealizadasOuEmAndamento","in":"query","type":"string"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"Transportadora","in":"query","type":"string"},{"name":"Cliente","in":"query","type":"string"},{"name":"AgruparPorTransportadora","in":"query","type":"boolean","x-nullable":false},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_EvolucaoPerformanceResp_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/tracking/trechos-sem-uso":{"post":{"tags":["ots"],"summary":"Exclui os trechos que ficaram no banco indevidamente, após a carga ter sido criada","description":"Exclui os trechos que ficaram no banco indevidamente, após a carga ter sido criada","operationId":"ExcluiTrechosSemUsotrackingtrechos-sem-uso_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ExcluiTrechosSemUso"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_String_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/eventos":{"get":{"tags":["ots"],"summary":"Obtém a lista de todos os eventos da OT","description":"Obtém a lista de todos os eventos da OT","operationId":"FindEventoOtOtIdeventos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"IncluirEventosDasCargas","in":"query","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"title":"List<EventoDto>","type":"array","items":{"$ref":"#/definitions/EventoDto"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["ots"],"summary":"Registra um novo evento na OT","description":"Registra um novo evento na OT","operationId":"RegistraEventoOtOtIdeventos_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RegistraEventoOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/EventoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/ocorrencias":{"post":{"tags":["ots"],"summary":"Registra uma ocorrência na OT","description":"Registra uma ocorrência na OT","operationId":"RegistraOcorrenciaOtOtIdocorrencias_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RegistraOcorrenciaOt"}}],"responses":{"200":{"description":"Success","schema":{"title":"String","type":"string"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/nfes":{"post":{"tags":["ots"],"summary":"Importa a NF-e informada e associa à OT","description":"Importa o arquivo XML da NF-e da URL informada, e associa à OT","operationId":"ImportaNfeDoArquivoEAssociaOtOtIdnfes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaNfeDoArquivoEAssociaOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/NotaFiscalDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/despachos":{"post":{"tags":["ots"],"summary":"Gera o despacho da Ordem de Transporte","description":"Gera o despacho da OT, para que o mesmo possa ser utilizado pelo TMS Desktop","operationId":"GeraDespachoOtOtIddespachos_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeraDespachoOt"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/etiquetas":{"post":{"tags":["ots"],"summary":"Gera as etiquetas para a OT","description":"Gera as etiquetas para as NFs da OT. As quantidades devem ser informadas no request, e o serviço retorna o string para impressão de todas as etiquetas","operationId":"GeraEtiquetasOtOtIdetiquetas_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeraEtiquetasOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_EtiquetasNotaFiscal_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/trechos":{"get":{"tags":["ots"],"summary":"Obtém a lista de viagens da OT, com seus respectivos trechos","description":"Obtém a lista de viagens da OT, com seus respectivos trechos","operationId":"FindTrechoOtOtIdtrechos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheOt","in":"query","type":"string"},{"name":"NivelDetalheCarga","in":"query","type":"string"},{"name":"NivelDetalheDts","in":"query","type":"string"},{"name":"NivelDetalheDaOts","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_CargaOtDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/atualiza-dimensoes":{"post":{"tags":["ots"],"summary":"Atualiza as dimensões (Volume e Peso Cubado) na Nota Fiscal e OT","description":"Atualiza as dimensões (Volume e Peso Cubado) na Nota Fiscal e OT","operationId":"AtualizaDimensoesOtIdatualiza-dimensoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AtualizaDimensoes"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/libera-geracao-dts/lista":{"get":{"tags":["ots"],"operationId":"ListaLiberacaoGeracaoDtslibera-geracao-dtslista_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_UsuarioDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/trechos/apura-distancias-pendentes":{"post":{"tags":["ots"],"operationId":"ApuraDistanciaDosTrechostrechosapura-distancias-pendentes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ApuraDistanciaDosTrechos"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots":{"get":{"tags":["Ordens de Transporte"],"summary":"Pesquisa de Documentos Associados (Pedidos, Notas Fiscais, etc.","description":"Pesquisa de Documentos Associados (Pedidos, Notas Fiscais, etc.","operationId":"FindDaot_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Tipo","in":"query","type":"string","x-nullable":false},{"name":"ChaveNfe","in":"query","type":"string"},{"name":"TipoPessoaEmitente","in":"query","type":"string"},{"name":"CpfCnpjEmitente","in":"query","type":"integer","format":"int64"},{"name":"Numero","in":"query","type":"integer","format":"int32"},{"name":"Serie","in":"query","type":"integer","format":"int32"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NotaFiscalDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/":{"post":{"tags":["Ordens de Transporte"],"summary":"Registra um novo documento (nota fiscal, pedido, etc.)","description":"Registra um novo documento (nota fiscal, pedido, etc.)","operationId":"ImportaDocumento_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Unidade da OT","in":"formData","schema":{"$ref":"#/definitions/UnidadeDto"},"description":"Unidade / planta onde a Ordem de Transporte deve ser registrada. Caso não seja informada, será utilizada a unidade do usuário logado no WS.","required":false},{"name":"Tipo","in":"formData","description":"Tipo do documento a ser cadastrado","type":"string","required":true,"enum":["NotaFiscal","Pedido","NotaFiscalDtTransp","Contrato","OrdemDeColeta","SolicitacaoDeTransporte","Outro","Declaracao","DI","DTA","Conhecimento"],"x-nullable":false},{"name":"Emitente","in":"formData","schema":{"$ref":"#/definitions/PessoaDto"},"description":"Dados do emitente do documento","required":true},{"name":"Destinatário","in":"formData","schema":{"$ref":"#/definitions/PessoaDto"},"description":"Dados do destinatário do documento","required":true},{"name":"Local de entrega","in":"formData","schema":{"$ref":"#/definitions/PessoaDto"},"description":"Dados do local de entrega dos produtos","required":false},{"name":"Transportadora pré-definida","in":"formData","schema":{"$ref":"#/definitions/PessoaDto"},"description":"Caso a transportadora já tenha sido definida, informar os dados da transportadora","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaDocumento"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaDocumentoResp"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/nfes/chave":{"post":{"tags":["Ordens de Transporte"],"summary":"Importação da NF-e através da leitura da chave da DANFE","description":"Importação da NF-e através da leitura da chave da DANFE","operationId":"ImportaNfePelaChavechave_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaNfePelaChave"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ImportaDocumentoResp_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/nfes/xml":{"post":{"tags":["Ordens de Transporte"],"summary":"Importação da NF-e através do upload do arquivo XML","description":"Importação da NF-e através do upload do arquivo XML","operationId":"ImportaNfePeloXmlxml_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaNfePeloXml"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaDocumentoResp"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/nfes/grava-nfe":{"post":{"tags":["Ordens de Transporte"],"summary":"Grava Arquivo NFe","description":"Grava Arquivo NFe","operationId":"GravaNfegrava-nfe_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/GravaNfe"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/nfes/arquivos/{ArquivoId}":{"post":{"tags":["Ordens de Transporte"],"summary":"Importa NF-e a partir do arquivo XML já gravado no S3 e registrado na aplicação","description":"Importa NF-e a partir do arquivo XML já gravado no S3 e registrado na aplicação","operationId":"ImportaNfeDoArquivoS3nfesarquivosArquivoId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArquivoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaNfeDoArquivoS3"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ImportaDocumentoResp_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/csvs/arquivos/{ArquivoId}":{"post":{"tags":["Ordens de Transporte"],"summary":"Importa documentos (daots) a partir do arquivo CSV já gravado no S3 e registrado na aplicação","description":"Importa documentos (daots) a partir do arquivo CSV já gravado no S3 e registrado na aplicação","operationId":"ImportaDaotsDoArquivoCsvS3csvsarquivosArquivoId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArquivoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaDaotsDoArquivoCsvS3"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_ImportaDocumentoResp_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/csv":{"post":{"tags":["Ordens de Transporte"],"operationId":"ImportaDocumentosDoArquivoCsvcsv_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaDocumentosDoArquivoCsv"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaDocumentosDoArquivoCsvResp"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/csv-chave-nfe":{"post":{"tags":["daots"],"operationId":"ImportaDocumentosDoArquivoCsvSomenteChavecsv-chave-nfe_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaDocumentosDoArquivoCsvSomenteChave"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaDocumentosDoArquivoCsvResp"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/{DaotId}":{"put":{"tags":["Ordens de Transporte"],"summary":"Altera uma nota fiscal / pedido","description":"Altera uma nota fiscal / pedido","operationId":"AlteraDaOtDaotId_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraDaOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/NotaFiscalDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/daots/{DaOtId}":{"delete":{"tags":["Ordens de Transporte"],"summary":"Cancela uma nota fiscal / pedido","description":"Cancela uma nota fiscal / pedido","operationId":"CancelaDaOtDaOtId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DaOtId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/tracking/{CargaOtId}/previsoes":{"post":{"tags":["ots"],"summary":"Recalcula o prazo de coleta/entrega previsto","description":"Recalcula o prazo de coleta/entrega previsto","operationId":"CalculaPrevisoesCargaOttrackingCargaOtIdprevisoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaOtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculaPrevisoesCargaOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CargaOtDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/agrupa/{OtId1}/{OtId2}":{"put":{"tags":["ots"],"summary":"Agrupa 2 Ordens de Transporte","description":"Remove os documentos de uma OT e agrupa em outra, retornando a nova OT","operationId":"AgrupaOtsagrupaOtId1OtId2_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId1","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"OtId2","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AgrupaOts"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/OtDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/trechos/previsoes":{"post":{"tags":["ots"],"summary":"Recalcula o prazo de coleta/entrega previsto","description":"Recalcula o prazo de coleta/entrega previsto","operationId":"CalculaPrevisoesOtOtIdtrechosprevisoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculaPrevisoesOt"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots":{"get":{"tags":["ots"],"operationId":"FindOt_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoCadastramento","in":"query","type":"string"},{"name":"PeriodoEmissao","in":"query","type":"string"},{"name":"PeriodoAtualizacao","in":"query","type":"string"},{"name":"ApenasNaoCarregadas","in":"query","type":"boolean"},{"name":"ApenasACarregar","in":"query","type":"boolean"},{"name":"ApenasSemDespacho","in":"query","type":"boolean"},{"name":"NrNotaFiscal","in":"query","type":"integer","format":"int32"},{"name":"DesconsiderarNfsDtsTransp","in":"query","type":"boolean"},{"name":"Numero","in":"query","type":"integer","format":"int32"},{"name":"NrReferencia","in":"query","type":"string"},{"name":"TransportadoraPreDefinidaId","in":"query","type":"integer","format":"int64"},{"name":"GrupoTransportadoraCargaId","in":"query","type":"integer","format":"int64"},{"name":"TransportadoraCargaId","in":"query","type":"integer","format":"int64"},{"name":"EmpresaId","in":"query","type":"integer","format":"int64"},{"name":"UnidadeId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"ClienteId","in":"query","type":"integer","format":"int64"},{"name":"CargaIds","in":"query","type":"string"},{"name":"UsuarioImportouNfId","in":"query","type":"integer","format":"int64"},{"name":"TipoViagem","in":"query","type":"string"},{"name":"ContendoTipoDocumento","in":"query","type":"string"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheDaots","in":"query","type":"string"},{"name":"NivelDetalheTrechos","in":"query","type":"string"},{"name":"NivelDetalheDimensoes","in":"query","type":"string"},{"name":"IncluirDadosParaLotacao","in":"query","type":"boolean"},{"name":"IncluirDadosParaRelatorioProcessos","in":"query","type":"boolean"},{"name":"IncluirSituacaoAuditoriaTrechos","in":"query","type":"boolean"},{"name":"IncluirCancelados","in":"query","type":"boolean"},{"name":"CompetenciaTagsTrechos","in":"query","type":"string","format":"date-time"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_OtDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["ots"],"summary":"Inclui uma nova Ordem de Transporte","description":"Inclui uma nova Ordem de Transporte","operationId":"IncluiOt_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiOt"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/OtDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ots/{OtId}/etiquetas/{SeqEtiqueta}/zpl":{"get":{"tags":["ots"],"summary":"Retorna a imagem das etiquetas (padrão ZPL)","description":"Retorna a imagem das etiquetas da OT, que já devem ter sido previamente geradas","operationId":"ImagemEtiquetasOtZplOtIdetiquetasSeqEtiquetazpl_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"SeqEtiqueta","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"Byte[]","type":"string","format":"binary"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas":{"get":{"tags":["cargas"],"summary":"Lista de cargas","description":"Lista de cargas","operationId":"GetCargas_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CompraOuVenda","in":"query","type":"string","x-nullable":false},{"name":"Periodo","in":"query","type":"string"},{"name":"NumeroCarga","in":"query","type":"integer","format":"int32"},{"name":"NumeroNotaFiscal","in":"query","type":"integer","format":"int32"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"TransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"ClienteId","in":"query","type":"integer","format":"int64"},{"name":"EmpresaId","in":"query","type":"integer","format":"int64"},{"name":"UnidadeId","in":"query","type":"integer","format":"int64"},{"name":"UsuarioImportouNFId","in":"query","type":"integer","format":"int64"},{"name":"ModalId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"SituacoesLiberacao","in":"query","type":"string"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheTrechos","in":"query","type":"string"},{"name":"NivelDetalheCartaFrete","in":"query","type":"string"},{"name":"NivelDetalheDts","in":"query","type":"string"},{"name":"IncluirEntregasLegado","in":"query","type":"boolean"},{"name":"dtsGerados","in":"query","type":"boolean"},{"name":"PeriodoEmissaoCartaFrete","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ViagemDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["cargas"],"summary":"Altera a carga selecionada","description":"Altera a carga selecionada","operationId":"AlteraCarga_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["cargas"],"summary":"Cria uma nova carga, podendo ser para Compra de Frete, Venda de Frete, ou Faturamento Complementar","description":"Cria uma nova carga, podendo ser para Compra de Frete, Venda de Frete, ou Faturamento Complementar","operationId":"CriaCarga_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CriaCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}":{"get":{"tags":["cargas"],"summary":"Recupera a carga informada","description":"Retorna os detalhes da carga informada","operationId":"GetCargaCargaId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"IncluirEntregasLegado","in":"query","type":"boolean"},{"name":"NivelDetalhe","in":"query","type":"string"},{"name":"NivelDetalheTrechos","in":"query","type":"string"},{"name":"NivelDetalheCartaFrete","in":"query","type":"string"},{"name":"NivelDetalheDts","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ViagemDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["cargas"],"summary":"Exclui a carga informada","description":"Exclui a carga informada","operationId":"ExcluiCargaCargaId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/dts":{"post":{"tags":["cargas"],"operationId":"GeracaoDtsDasCargasPendentesdts_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeracaoDtsDasCargasPendentes"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/ots":{"get":{"tags":["cargas"],"summary":"Lista das OTs da carga informada","description":"Lista das OTs da carga informada","operationId":"GetOtsCargaCargaIdots_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_OtDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/automaticas/{Criterio}":{"post":{"tags":["cargas"],"summary":"Formação de cargas automática para Compra de Frete, agrupando as OTs conforme critério informado","description":"Critério: 1 = Por data de emissão das NFs; 2 = Por data de cadastramento das NFs; 3 = Por data de entrega das NFs","operationId":"FormacaoCargasAutomaticaautomaticasCriterio_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Criterio","in":"path","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/FormacaoCargasAutomatica"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LogDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/previsoes":{"post":{"tags":["cargas"],"summary":"Recalcula o prazo de coleta/entrega previsto para todas as OTs da carga","description":"Recalcula o prazo de coleta/entrega previsto para todas as OTs da carga","operationId":"CalculaPrevisoesDaCargaCargaIdprevisoes_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculaPrevisoesDaCarga"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/dts":{"post":{"tags":["cargas"],"operationId":"GeracaoDtsDaCargaCargaIddts_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeracaoDtsDaCarga"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/liberacao-para-transportadora":{"post":{"tags":["cargas"],"summary":"Libera a carga para a transportadora","description":"Libera a carga para a transportadora","operationId":"LiberacaoParaTransportadoraCargaIdliberacao-para-transportadora_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/LiberacaoParaTransportadora"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CargaLiberacaoTransportadoraDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["cargas"],"summary":"Cancela a liberação da carga para a transportadora","description":"Cancela a liberação da carga para a transportadora","operationId":"CancelaLiberacaoParaTransportadoraCargaIdliberacao-para-transportadora_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"Notas","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CargaLiberacaoTransportadoraDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/ots/{OtId}":{"delete":{"tags":["cargas"],"summary":"Exclui a Ot selecionada na carga","description":"Faz a exclusão da Ot selecionada na carga","operationId":"ExcluiOtDaCargaCargaIdotsOtId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"OtId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cargas/{CargaId}/liberacao/{LiberacaoId}/resposta":{"post":{"tags":["cargas"],"operationId":"RespostaLiberacaoCargaCargaIdliberacaoLiberacaoIdresposta_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CargaId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"LiberacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RespostaLiberacaoCarga"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/notificacoes/processamento":{"post":{"tags":["notificacoes"],"summary":"Envia notificações","description":"Gera e envia as notificações aos assinantes, a partir dos eventos ou ocorrências que possuam subscrições","operationId":"ProcessaNotificacoesprocessamento_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ProcessaNotificacoes"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_String_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/notificacoes/envios/{Id}":{"post":{"tags":["notificacoes"],"summary":"Reprocessa um envio específico","description":"Reprocessa um envio específico","operationId":"ReprocessaEnvioNotificacaoenviosId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ReprocessaEnvioNotificacao"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ICollection_String_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos":{"get":{"tags":["contratos"],"summary":"Lista os contratos","description":"Recupera a lista de contratos com clientes ou transportadoras","operationId":"ListaContratos_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Classe","in":"query","type":"string"},{"name":"ClienteOuTransportadora","in":"query","type":"string"},{"name":"CompraOuVenda","in":"query","type":"string"},{"name":"ModalId","in":"query","type":"integer","format":"int64"},{"name":"OperacaoId","in":"query","type":"integer","format":"int64"},{"name":"GrupoTransportadoraId","in":"query","type":"integer","format":"int64"},{"name":"Transportadora","in":"query","type":"string"},{"name":"Situacoes","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_ContratoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/{Id}":{"get":{"tags":["contratos"],"summary":"Recupera os detalhes de um contrato","description":"Recupera os detalhes de um contrato com cliente ou transportadora","operationId":"GetContratoId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/tabela-de-frete":{"post":{"tags":["contratos"],"summary":"Inclui um novo contrato com referência a uma tabela de frete","description":"Inclui um novo contrato com referência a uma tabela de frete","operationId":"IncluiContratoTabelaDeFretetabela-de-frete_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiContratoTabelaDeFrete"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoTabelaDeFreteDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/valor-recorrente":{"post":{"tags":["contratos"],"summary":"Inclui um novo contrato com valor recorrente","description":"Inclui um novo contrato com um cliente ou uma transportadora, que irá gerar um pagamento ou recebimento de valor fixo em determinado dia de cada mês","operationId":"IncluiContratoValorRecorrentevalor-recorrente_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiContratoValorRecorrente"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoValorRecorrenteDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/{Id}/aprovacao":{"patch":{"tags":["contratos"],"summary":"Aprova um contrato","description":"Aprova um contrato com um cliente ou uma transportadora","operationId":"AprovaContratoIdaprovacao_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AprovaContrato"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/{Id}/revogacao":{"patch":{"tags":["contratos"],"summary":"Revoga um contrato","description":"Revoga um contrato com um cliente ou uma transportadora","operationId":"RevogaContratoIdrevogacao_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RevogaContrato"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/{Id}/nova-versao":{"post":{"tags":["contratos"],"summary":"Cria uma nova versão do contrato","description":"Cria uma nova versão do contrato, mantendo o link com o contrato original","operationId":"NovaVersaoContratoIdnova-versao_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/NovaVersaoContrato"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/tabela-de-frete/{Id}":{"put":{"tags":["contratos"],"summary":"Altera um contrato com referência a uma tabela de frete","description":"Altera um contrato com referência a uma tabela de frete","operationId":"AlteraContratoTabelaDeFretetabela-de-freteId_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraContratoTabelaDeFrete"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoTabelaDeFreteDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/valor-recorrente/{Id}":{"put":{"tags":["contratos"],"summary":"Altera um contrato com valor recorrente","description":"Altera um contrato com um cliente ou uma transportadora, desde que o mesmo ainda não esteja vigente","operationId":"AlteraContratoValorRecorrentevalor-recorrenteId_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","type":"integer","format":"int64","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraContratoValorRecorrente"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ContratoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/contratos/valor-recorrente/gera-dts-para-hoje":{"post":{"tags":["contratos"],"summary":"Gera DTs referentes aos contratos de valor recorrente","description":"Gera os DTs referentes aos contratos de valor recorrente cujo dia de lançamento é hoje","operationId":"GeraDtsContratosValorRecorrentevalor-recorrentegera-dts-para-hoje_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/GeraDtsContratosValorRecorrente"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LogDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/transportador":{"get":{"tags":["negociacoes"],"operationId":"ListaNegociacoesTransportadortransportador_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArgumentoPesquisa","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NegociacaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-avulsa":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/avulsa","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo do frete para a mercadoria informadas, e já efetua todos os cálculos conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"SimulacaoAvulsasimulacao-frete-avulsa_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/SimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-carga":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/carga","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo da carga com as OTs informadas, e já efetua todos os cálculos conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"SimulacaoCargasimulacao-frete-carga_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/SimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tabelas-tarifarias":{"get":{"tags":["tabelas-tarifarias"],"summary":"Lista as tabelas tarifárias que atendem ao filtro informado","description":"Lista as tabelas tarifárias que atendem ao filtro informado","operationId":"ListaTabelasDeFrete_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArgumentoPesquisa","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NegociacaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tabelas-de-frete":{"get":{"tags":["tabelas-de-frete"],"summary":"Lista todas as tabelas de frete cadastradas","description":"Obsoleto, use o /tabelas-tarifarias","operationId":"ListaTabelasDeFrete2_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArgumentoPesquisa","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NegociacaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tabelas-tarifarias/{NegociacaoId}/versoes":{"get":{"tags":["tabelas-tarifarias"],"summary":"Lista todas as versões da tabela tarifária informada","description":"Lista todas as versões da tabela tarifária informada","operationId":"ListaVersoesDaTabelaDeFreteNegociacaoIdversoes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"NegociacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NegociacaoVersaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tabelas-de-frete/{NegociacaoId}/versoes":{"get":{"tags":["tabelas-de-frete"],"summary":"Lista todas as versões da tabela de frete informada","description":"Obsoleto, use o /tabelas-tarifarias","operationId":"ListaVersoesDaTabelaDeFreteNegociacaoIdversoes2_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"NegociacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_NegociacaoVersaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/tabelas-tarifarias/csv":{"post":{"tags":["tabelas-tarifarias"],"summary":"Importa planilha (CSV) com uma tabela tarifária","description":"Importa planilha (CSV) com uma tabela tarifária","operationId":"ImportaPlanilhaTabelaTarifariacsv_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/ImportaPlanilhaTabelaTarifaria"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportaPlanilhaTabelaTarifariaResp"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cotacoes":{"get":{"tags":["cotacoes"],"summary":"Lista o histórico de cotações / simulações realizadas","description":"Lista o histórico de cotações / simulações realizadas","operationId":"FindCotacoes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoSolicitacao","in":"query","type":"string"},{"name":"Situacoes","in":"query","type":"string"},{"name":"UsuarioSolicitanteId","in":"query","type":"integer","format":"int64"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_CotacaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cotacoes/usuario":{"get":{"tags":["cotacoes"],"summary":"Lista o histórico de cotações / simulações realizadas pelo próprio usuário","description":"Lista o histórico de cotações / simulações realizadas pelo próprio usuário","operationId":"FindCotacoesUsuariousuario_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PeriodoSolicitacao","in":"query","type":"string"},{"name":"Situacoes","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_CotacaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cotacoes/{CotacaoId}":{"get":{"tags":["cotacoes"],"summary":"Retorna os detalhes de uma cotação / simulação","description":"Retorna os detalhes de uma cotação / simulação","operationId":"GetCotacaoCotacaoId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CotacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["cotacoes"],"summary":"Cancela uma cotação / simulação","description":"Cancela uma cotação / simulação","operationId":"CancelaCotacaoCotacaoId_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"patch":{"tags":["cotacoes"],"summary":"Altera alguns dados de uma cotação / simulação","description":"Altera alguns dados de uma cotação / simulação","operationId":"AlteraCotacaoCotacaoId_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AlteraCotacao"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CotacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cotacoes/{CotacaoId}/usuario":{"get":{"tags":["cotacoes"],"summary":"Retorna os detalhes de uma cotação / simulação realizada pelo próprio usuário","description":"Retorna os detalhes de uma cotação / simulação realizada pelo próprio usuário","operationId":"GetCotacaoUsuarioCotacaoIdusuario_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CotacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["cotacoes"],"summary":"Cancela uma cotação / simulação realizada pelo próprio usuário","description":"Cancela uma cotação / simulação realizada pelo próprio usuário","operationId":"CancelaCotacaoUsuarioCotacaoIdusuario_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"204":{"description":"No Content"}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/avulsa":{"post":{"tags":["simulacoes"],"summary":"Cálculo da simulação de fretes para todos os cenários possíveis para a mercadoria informada","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo do frete para a mercadoria informadas, e já efetua todos os cálculos conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"SimulacaoAvulsaavulsa_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/SimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/carga":{"post":{"tags":["simulacoes"],"summary":"Cálculo da simulação de fretes para todos os cenários possíveis para a carga","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo da carga com as OTs informadas, e já efetua todos os cálculos conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"SimulacaoCargacarga_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/SimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/avulsa/cenarios":{"post":{"tags":["simulacoes"],"summary":"Lista os cenários possíveis para o cálculo de frete","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo de frete, conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"CenariosSimulacaoAvulsaavulsacenarios_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CenariosSimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/avulsa/calculo":{"post":{"tags":["simulacoes"],"summary":"Efetua a simulação do cálculo de frete","description":"Efetua o cálculo do frete para o cenário (Transportadora / Modal / Operação) informado","operationId":"CalculoSimulacaoAvulsaavulsacalculo_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculoSimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenarioSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/carga/cenarios":{"post":{"tags":["simulacoes"],"summary":"Lista os cenários possíveis para o cálculo da carga","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo da carga com as OTs informadas, conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"CenariosSimulacaoCargacargacenarios_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CenariosSimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/simulacoes/carga/calculo":{"post":{"tags":["simulacoes"],"summary":"Efetua a simulação do cálculo da carga","description":"Efetua o cálculo da carga para o cenário (Transportadora / Modal / Operação) informado","operationId":"CalculoSimulacaoCargacargacalculo_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculoSimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenarioSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-avulsa/cenarios":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/avulsa/cenarios","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo de frete, conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"CenariosSimulacaoAvulsasimulacao-frete-avulsacenarios_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CenariosSimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-avulsa/calculo":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/avulsa/calculo","description":"Efetua o cálculo do frete para o cenário (Transportadora / Modal / Operação) informado","operationId":"CalculoSimulacaoAvulsasimulacao-frete-avulsacalculo_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculoSimulacaoAvulsa"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenarioSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-carga/cenarios":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/carga/cenarios","description":"Lista as possíveis combinações de Transportadora / Modal / Operação para o cálculo da carga com as OTs informadas, conforme a tabela das transportadoras. Para restringir os cenários, pode ser informado um dos argumentos (Transportadora, Modal e/ou Operação","operationId":"CenariosSimulacaoCargasimulacao-frete-cargacenarios_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CenariosSimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenariosSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/negociacoes/simulacao-frete-carga/calculo":{"post":{"tags":["negociacoes"],"summary":"OBSOLETO: Usar o /simulacoes/carga/calculo","description":"Efetua o cálculo da carga para o cenário (Transportadora / Modal / Operação) informado","operationId":"CalculoSimulacaoCargasimulacao-frete-cargacalculo_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/CalculoSimulacaoCarga"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CenarioSimulacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/cotacoes/{CotacaoId}/cenarios/{CenarioEscolhidoId}/aceite":{"post":{"tags":["cotacoes"],"summary":"Aceite de uma cotação / simulação","description":"Aceite de uma cotação / simulação","operationId":"AceiteCotacaoCotacaoIdcenariosCenarioEscolhidoIdaceite_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CotacaoId","in":"path","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"CenarioEscolhidoId","in":"path","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AceiteCotacao"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CotacaoDto"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/regioes":{"get":{"tags":["regioes"],"summary":"Lista das regiões","description":"Lista das regiões","operationId":"FindRegioes_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Tipo","in":"query","type":"string"},{"name":"Conf","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PaginaResponse_RegiaoDto_"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["regioes"],"summary":"Inclui uma nova região","description":"Inclui uma nova região","operationId":"IncluiRegiao_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","schema":{"$ref":"#/definitions/IncluiRegiao"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RegiaoDto"}}},"deprecated":false,"security":[{"Bearer":[
[...]
